*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #f6f3eb;
    height: 80px;
    width: 100%;
    position: relative;
}
h1{
    color:#CBAE7A;
    position: absolute;
    left: 120px;
    top: 0;
    line-height: 80px;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    text-indent: -9999px;
}
header ul{
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}
header li{
    display: inline;
    margin-right: 4vw;
}
header a{
    color: #CBAE7A;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
.home{
    background-color: #CBAE7A;
    color: #003153;
    height: 95vh;
    background-image: url(images/大圖.png);
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home h2{
    font-size: 60px;
    margin-bottom: 900px;
}
.home p{
    color: #CBAE7A;
    font-size: 18px;
    margin: 10px 0;
}
.home a{
    color: #003153;
    height: 200xp;
    text-decoration: none;
    border: 1px solid #CBAE7A;
    padding: 10px 20px;
    border-radius: 5px;
}
.slogan{
    background-color: #003153;
    color: #CBAE7A;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1.8em;
}
footer{
    background-color: #111111;
    color: #8b8985;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.8em;
}
.shop{
    display: flex;
}
.shop img{
    width: 50%;
}
.info{
    width: 50%;
    background-color:#f6f3eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info h3{
    font-size: 40px;
    margin-bottom: 30px;
}
.info p{
    text-align: center;
    line-height: 2em;
}